{% extends "layout.html" %}
{% block content %}
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Carrito de Compras</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Producto</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Precio</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Cantidad</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                {% for key,value in request.session.cart.items %}
                  <tr>
                    <td class="p-4">
                      <div class="media align-items-center">
                        <img src="{{ value.imagen }}" width="100px" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                        <div class="media-body">
                          <a href="{% url 'tienda:producto' value.producto_id %}" class="d-block text-dark">{{ value.nombre }}</a>
                        </div>
                      </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{ value.precio }}</td>
                    <td class="align-middle p-4"><input type="text" class="form-control text-center" value="{{ value.cantidad }}"></td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{ value.total }}</td>
                    <td class="text-center align-middle px-0"><a href="{% url 'tienda:eliminarProductoCarrito' value.producto_id %}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
                
            <!-- / Shopping cart table -->     
            <div class="float-right">
              <a class="btn btn-primary" href="{% url 'tienda:index' %}" role="button">REGRESAR</a>
              <a class="btn btn-primary" href="{% url 'tienda:limpiarCarrito' %}" role="button">LIMPIAR</a>
              <a class="btn btn-primary" href="{% url 'tienda:pedido' %}" role="button">REALIZAR PEDIDO</a>
              
            </div>
          </div>
      </div>
  </div>
{% endblock %}