{% extends 'basebs.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    PRODUCTOS
{% endblock %}
{% block content %}
<H4>
<form action="{{ url_for('productos') }}" method="POST">
    PRODUCTOS - CATEGORIA : <select name="categoria" onchange="this.form.submit()">
        <option value=0>TODOS</option>
        {% for categoria in dataCategoria %}
            {% set miselected = '' %}
            {% if(catId|int == categoria.0|int ) %}
                {% set miselected = 'selected' %}
            {% endif %}
        <option value="{{ categoria.0 }}" {{miselected}} >{{ categoria.1 }}</option>
        {% endfor %}
    </select>
</form>
</h4>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO</th>
        <th scope="col">STOCK</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for d in dataProducto %}
        <tr>
            <th scope="row">{{ d.2 }}</th>
            <td>{{ d.9 }}</td>
            <td>{{ d.10 }}</td>
            <td><a href="{{ url_for('productos') }}?pid={{ d.0 }}"><button class="btn btn-success">EDITAR</button></a></td>
            <td>
                <form action="{{ url_for('eliminarProducto') }}" method="POST">
                    <input type="hidden" name="eid" value="{{ d.0 }}"/>
                    <input type="submit" value="ELIMINAR" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    
    </tbody>
  </table>
  <h2>Nuevo Producto</h2>
  <div class="container">
      {{ wtf.quick_form(frmProducto) }}
  </div>
{% endblock %}